ul {
 list-style-type: none;
 margin: 1px;
 padding: 1px;
 overflow: hidden;
 background-color:rgba(255, 255, 255, 0);
 ;
}

li {
 float: left;
 border: 2px;
 border-color: #AAABAD;
}

/* Add a border to all( but not the last) list items */
li:last-child {
}

li a {
 display: block;
 color: black;
 text-align: left;
 padding: 15px 17px;
 text-decoration: none;
}

/* Links will change color when hovered over */
#index a:hover {
 background-color: #F7E8B1;
}
#inter a:hover {
 background-color: #B1FF75;
}
#turf a:hover {
 background-color: #CCCCCC;
}

.active {
 background-color: #F7E8B1;
}
.activeI {
 background-color: #B1FF75;
}
.activeT {
 background-color: #CCCCCC;
}
